  <div id="view-today" class="view view-main tab tab-active">
    <div data-name="home" class="page no-navbar">
      <!-- Scrollable page content -->
      <div class="page-content ptr-content infinite-scroll-content" data-infinite-distance="70">
        <div class="ptr-preloader">
          <div class="preloader"></div>
          <div class="ptr-arrow"></div>
        </div>
        <div class="block" id="today-content">
          <div class="title-container">
            <span class="title-date">Tuesday 19 March</span>
            <h1>최근</h1>
          </div>
          <a href="/single/">
            <div class="card">
              <img class="card-image" src="{{url_for('static',filename='img/catbody/cat_body_20200816.jpg')}}" alt="">
              <div class="card-infos">
                <div class="chip color-pink"><i class="f7-icons">flame_fill</i>인기</div>
                <h2 class="card-title">할 수 있는 일이 많아진 스마트 고양이의 최근 모습을 만나보세요^^</h2>
                <div class="card-bottom">
                  <div class="card-author">
                    <img class="card-author-image" src="{{url_for('static',filename='img/authors/author-7.jpg')}}" alt="">
                    <div>신달수연구소장</div>
                  </div>
                  <div class="card-comments"><i class="f7-icons">chat_bubble_fill</i>22</div>
                </div>
              </div>
            </div>
          </a>
          <a href="/single/">
            <div class="card card-style-2">
              <div class="card-image-container"><img class="card-image" src="{{url_for('static',filename='img/catbody/cat_body_20200817.jpg')}}" alt=""></div>
              <div class="card-infos">
                <div class="card-category">수상 및 경력</div>
                <h2 class="card-title">제7회 전국 스마트 디바이스 경진대회 출전</h2>
                <p class="card-description">전국 대회 규모로 치뤄지는 2020년 스마트 디바이스 경진대회에 출전하게 되었습니다. 코로나로 비대면 서비스에 가산점을 준다고 합니다.</p>
              </div>
            </div>
          </a>
          <a href="/single/">
            <div class="card">
              <img class="card-image" src="{{url_for('static',filename='img/thumb-3.jpg')}}" alt="">
              <div class="card-infos">
                <h2 class="card-title">Nicki Minaj in Featuring with Drake!</h2>
                <div class="card-bottom">
                  <div class="card-author">
                    <img class="card-author-image" src="{{url_for('static',filename='img/authors/author-3.jpg')}}" alt="">
                    <div>Jess Roxana</div>
                  </div>
                  <div class="card-comments"><i class="f7-icons">chat_bubble_fill</i></i>22</div>
                </div>
              </div>
            </div>
          </a>
          <div class="title-container">
            <span class="title-date">18 March</span>
            <h1>생후...</h1>
          </div>
          <div class="two-columns-cards">
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-4.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Nadal Wins at Roland Garros</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-5.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">NASA Chooses Its Next Chief Scientist</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-6.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Top Sunglasses Models for This Summer</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-7.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Isabel Marant Launches into Makeup!</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-8.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Moto-Cross: The Champions Made the Show</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-9.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">The Best Exotic Destinations</h2>
                </div>
              </div>
            </a>
          </div>
          <div class="title-container">
            <span class="title-date">17 March</span>
            <h1>탄생</h1>
          </div>
          <a href="/single/">
            <div class="card medium">
              <img class="card-image" src="{{url_for('static',filename='img/catbody/cat_body_202008161.jpg')}}" alt="">
              <div class="card-infos">
                <div class="card-date"><i class="f7-icons">clock</i></i>2 days ago</div>
                <h2 class="card-title">하나님이 흙으로 사람을 지으사.. 우리는 3D 프린터로^^</h2>
              </div>
            </div>
          </a>
          <ul class="list media-list post-list" id="infinite-content">
            <li>
              <a href="/contents/20200816/">
                <div class="item-content">
                  <div class="item-media"><img src="{{url_for('static',filename='img/catbody/cat_body_20200816.jpg')}}" alt=""></div>
                  <div class="item-inner">
                    <div class="item-subtitle">하드웨어 제작과정</div>
                    <div class="item-title">3D 모델링 작업으로 필라멘트 재료로 고양이의 몸을 만들다.</div>
                    <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-7.jpg')}}" alt="">신달수연구소장</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/contents/202008161/">
                <div class="item-content">
                  <div class="item-media"><img src="{{url_for('static',filename='img/catbody/cat_body_202008161.jpg')}}" alt=""></div>
                  <div class="item-inner">
                    <div class="item-subtitle">하드웨어 제작과정</div>
                    <div class="item-title">각 지체별로 수 많은 시행 착오를 겪으며 완성되다.</div>
                    <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-3.jpg')}}" alt="">신달수연구소장</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single/">
                <div class="item-content">
                  <div class="item-media"><img src="{{url_for('static',filename='img/thumb-13.jpg')}}" alt=""></div>
                  <div class="item-inner">
                    <div class="item-subtitle">Beatles</div>
                    <div class="item-title">Tottenham: NFL Turf Is in Place!</div>
                    <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-1.jpg')}}" alt="">Camille Aline</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <div class="preloader infinite-scroll-preloader"></div>
        </div>
      </div>
    </div>
  </div>