  <div id="view-pages" class="view tab">
    <div class="page" data-name="pages">
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
          <div class="title">환경설정</div>
        </div>
      </div>
      <!-- Scrollable page content -->
      <div class="page-content">
        <div class="block">
          <h2>다크 모드</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <div class="item-link item-content item-button">
                <div class="item-media bg-color-black"><i class="f7-icons text-color-orange">moon_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">다크 모드를 켜고 끌 수 있습니다.</div>
                  <label class="toggle toggle-init color-green toggle-theme">
                    <input type="checkbox">
                    <span class="toggle-icon"></span>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>색상 선택</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <div class="item-content item-themes">
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-red"><i class="icon-radio bg-color-red"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-green"><i class="icon-radio bg-color-green"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-blue"><i class="icon-radio bg-color-blue"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-pink" checked><i class="icon-radio bg-color-pink"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-yellow"><i class="icon-radio bg-color-yellow"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-orange"><i class="icon-radio bg-color-orange"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-gray"><i class="icon-radio bg-color-gray"></i></label>
                <label class="radio color-black"><input type="radio" name="radio-color-theme" id="color-theme-white"><i class="icon-radio bg-color-white"></i></label>
                <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-black"><i class="icon-radio bg-color-black"></i></label>
              </div>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Big Cards</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/cards/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/cards-author-comments/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards (author + comments)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/cards-category/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards (with category)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/cards-chip/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards (with chip)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/cards-medium/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards (medium size)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/cards-footer/" class="item-link item-content">
                <div class="item-media bg-color-yellow"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards (footer version)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/cards-columns/" class="item-link item-content">
                <div class="item-media bg-color-orange"><i class="f7-icons">photo</i></div>
                <div class="item-inner">
                  <div class="item-title">Cards (2 columns)</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Lists</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/list-category/" class="item-link item-content">
                <div class="item-media bg-color-green"><i class="f7-icons">square_list_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">List (with category)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/list-category-author/" class="item-link item-content">
                <div class="item-media bg-color-green"><i class="f7-icons">square_list_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">List (category + author)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/list-category-date/" class="item-link item-content">
                <div class="item-media bg-color-green"><i class="f7-icons">square_list_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">List (category + date)</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Sliders</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/slider-1/" class="item-link item-content">
                <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Slider 1</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/slider-2/" class="item-link item-content">
                <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Slider 2</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/slider-3/" class="item-link item-content">
                <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Slider 3</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/slider-4/" class="item-link item-content">
                <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Slider 4</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Single Post</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/single/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">doc_richtext</i></div>
                <div class="item-inner">
                  <div class="item-title">Single (header 1)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-2/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">doc_richtext</i></div>
                <div class="item-inner">
                  <div class="item-title">Single (header 2)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-elements/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">doc_richtext</i></div>
                <div class="item-inner">
                  <div class="item-title">Single Elements</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Categories</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/categories-cards/" class="item-link item-content">
                <div class="item-media bg-color-orange"><i class="f7-icons">square_grid_2x2_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Categories (cards)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/categories-columns/" class="item-link item-content">
                <div class="item-media bg-color-orange"><i class="f7-icons">square_grid_2x2_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Categories (columns)</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/category/" class="item-link item-content">
                <div class="item-media bg-color-orange"><i class="f7-icons">square_grid_2x2_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Category Posts</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Author</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/author-list/" class="item-link item-content">
                <div class="item-media bg-color-yellow"><i class="f7-icons">square_list</i></div>
                <div class="item-inner">
                  <div class="item-title">Author List</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/author/" class="item-link item-content">
                <div class="item-media bg-color-yellow"><i class="f7-icons">person_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Author Profile</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Contact</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/contact/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">envelope_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Contact Page</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h2>Features</h2>
        </div>
        <div class="list pages-list">
          <ul>
            <li>
              <a href="/pull-to-refresh/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">arrow_down</i></div>
                <div class="item-inner">
                  <div class="item-title">Pull to Refresh</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/infinite-scroll/" class="item-link item-content">
                <div class="item-media"><i class="f7-icons">infinite</i></div>
                <div class="item-inner">
                  <div class="item-title">Infinite Scroll</div>
                </div>
              </a>
            </li>
            <li>
              <a href="/promo-banner/" class="item-link item-content">
                <div class="item-media bg-color-blue"><i class="f7-icons">star_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Promo Banner</div>
                </div>
              </a>
            </li>
            <li>
              <div class="item-link item-content item-button">
                <div class="item-media bg-color-orange"><i class="f7-icons">arrowshape_turn_up_right_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Share Dialog</div>
                  <a href="#" class="col button button-small button-round button-fill share-actions">Try It</a>
                </div>
              </div>
            </li>
            <li>
              <div class="item-link item-content item-button">
                <div class="item-media bg-color-green"><i class="f7-icons">bell_fill</i></div>
                <div class="item-inner">
                  <div class="item-title">Notification</div>
                  <a href="#" class="col button button-small button-round button-fill open-notification">Try It</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>