  <div class="toolbar tabbar tabbar-labels toolbar-bottom">
    <div class="toolbar-inner">
      <a href="#view-today" class="tab-link tab-link-active">
        <i class="f7-icons">clock</i>
        <span class="tabbar-label">라이프</span>
      </a>
      <a href="#view-categories" class="tab-link">
        <i class="f7-icons">square_grid_2x2_fill</i>
        <span class="tabbar-label">카테고리</span>
      </a>
      <a href="#view-discover" class="tab-link">
        <i class="f7-icons">wand_stars</i>
        <span class="tabbar-label">리모콘</span>
      </a>
      <a href="#view-search" class="tab-link">
        <i class="f7-icons">search</i>
        <span class="tabbar-label">검색</span>
      </a>
      <a href="#view-pages" class="tab-link">
        <i class="f7-icons">gear_alt</i>
        <span class="tabbar-label">설정</span>
      </a>
    </div>
  </div>