  <div id="view-search" class="view tab">
    <div data-name="search" class="page no-navbar">
      <div class="page-content page-search">
        <div class="searchbar-backdrop"></div>
        <div class="block searchbar-container">
          <div class="title-container">
            <h1>검색</h1>
          </div>
          <form class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="검색어를 입력하세요.">
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button">Cancel</span>
            </div>
          </form>
        </div>
        <div class="block search-container">
          <div class="searchbar-hide-on-search">
            <h2>검색 영역</h2>
            <ul class="popular-tags">
              <li><a href="#" class="link"><span>Politics</span><i class="f7-icons">chevron_right</i></a></li>
              <li><a href="#" class="link"><span>Sports</span><i class="f7-icons">chevron_right</i></a></li>
              <li><a href="#" class="link"><span>Fashion</span><i class="f7-icons">chevron_right</i></a></li>
              <li><a href="#" class="link"><span>Animals</span><i class="f7-icons">chevron_right</i></a></li>
              <li><a href="#" class="link"><span>Travel</span><i class="f7-icons">chevron_right</i></a></li>
              <li><a href="#" class="link"><span>Movies</span><i class="f7-icons">chevron_right</i></a></li>
            </ul>
            <h2>최근 검색어</h2>
            <div class="list no-hairlines trending-search">
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title"><a href="#" class="link">Ronaldo</a></div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title"><a href="#" class="link">Lil Wayne</a></div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title"><a href="#" class="link">Football</a></div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title"><a href="#" class="link">Lebron James</a></div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title"><a href="#" class="link">NBA</a></div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title"><a href="#" class="link">US Elections</a></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="preloader search-preloader"></div>
          <div class="search-results">
            <ul class="list media-list post-list">
              <li>
                <a href="/single/">
                  <div class="item-content">
                    <div class="item-media"><img src="{{url_for('static',filename='img/thumb-11.jpg')}}" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle">Fashion</div>
                      <div class="item-title">The 6th Edition of the Body Painting Contest</div>
                      <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-7.jpg')}}" alt="">Elena Anka</div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single/">
                  <div class="item-content">
                    <div class="item-media"><img src="{{url_for('static',filename='img/thumb-12.jpg')}}" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle">Photography</div>
                      <div class="item-title">20 Photography Tips for Taking Pictures</div>
                      <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-3.jpg')}}" alt="">Jess Roxana</div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single/">
                  <div class="item-content">
                    <div class="item-media"><img src="{{url_for('static',filename='img/thumb-13.jpg')}}" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle">Beatles</div>
                      <div class="item-title">Tottenham: NFL Turf Is in Place!</div>
                      <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-1.jpg')}}" alt="">Camille Aline</div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single/">
                  <div class="item-content">
                    <div class="item-media"><img src="{{url_for('static',filename='img/thumb-31.jpg')}}" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle">Fashion</div>
                      <div class="item-title">The Crocodile, Man's Best Friend?</div>
                      <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-7.jpg')}}" alt="">Elena Anka</div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single/">
                  <div class="item-content">
                    <div class="item-media"><img src="{{url_for('static',filename='img/thumb-32.jpg')}}" alt=""></div>
                    <div class="item-inner">
                      <div class="item-subtitle">Science</div>
                      <div class="item-title">7 Accessories to Pack This Summer</div>
                      <div class="item-subtitle bottom-subtitle"><img src="{{url_for('static',filename='img/authors/author-3.jpg')}}" alt="">Jess Roxana</div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>