  <div id="view-categories" class="view tab">
    <div data-name="categories" class="page no-navbar">
      <!-- Scrollable page content -->
      <div class="page-content">
        <div class="block">
          <div class="title-container">
            <h1>카테고리</h1>
          </div>
          <div class="categories-container">
            <a href="/category/">
              <div class="category card" style="background-image: url('/static/img/categories/sports.jpg'); box-shadow: 0px 15px 20px -10px rgba(252, 186, 47, 0.5);">
                <h2>탄생의 비밀</h2>
              </div>
            </a>
            <a href="/category/">
              <div class="category card" style="background-image: url('/static/img/categories/travel.jpg'); box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5);">
                <h2>수상 및 경력</h2>
              </div>
            </a>
            <a href="/category/">
              <div class="category card" style="background-image: url('/static/img/categories/music.jpg'); box-shadow: 0px 15px 20px -10px rgba(231, 0, 70, 0.5);">
                <h2>Music</h2>
              </div>
            </a>
            <a href="/category/">
              <div class="category card" style="background-image: url('/static/img/categories/gaming.jpg'); box-shadow: 0px 15px 20px -10px rgba(37, 57, 155, 0.5);">
                <h2>Gaming</h2>
              </div>
            </a>
            <a href="/category/">
              <div class="category card" style="background-image: url('/static/img/categories/photography.jpg'); box-shadow: 0px 15px 20px -10px rgba(37, 227, 154, 0.5);">
                <h2>Photo</h2>
              </div>
            </a>
            <a href="/category/">
              <div class="category card" style="background-image: url('/static/img/categories/food.jpg'); box-shadow: 0px 15px 20px -10px rgba(255, 128, 169, 0.5);">
                <h2>Food</h2>
              </div>
            </a>
          </div>
          <div class="title-container">
            <span class="title-date">Recent posts</span>
            <div class="title-with-link">
              <h1>Sports</h1>
              <a href="/category/" class="col button button-small button-round button-fill">See All</a>
            </div>
          </div>
          <div class="two-columns-cards">
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-4.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Nadal Wins at Roland Garros</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-8.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Moto-Cross: The Champions Made the Show</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-17.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Will Conor Return to the UFC Octagon?</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-18.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Anna Gasser's Snowboard Win</h2>
                </div>
              </div>
            </a>
          </div>
          <div class="title-container">
            <span class="title-date">Recent posts</span>
            <div class="title-with-link">
              <h1>Lifestyle</h1>
              <a href="/category/" class="col button button-small button-round button-fill">See All</a>
            </div>
          </div>
          <div class="two-columns-cards">
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-9.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">The Best Exotic Destinations</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-6.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Top Sunglasses Models for This Summer</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-38.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Join the Paris Body Painting Contest</h2>
                </div>
              </div>
            </a>
            <a href="/single/">
              <div class="card">
                <img class="card-image" src="{{url_for('static',filename='img/thumb-39.jpg')}}" alt="">
                <div class="card-infos">
                  <h2 class="card-title">Nicki Minaj in Featuring with Drake!</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>