<div class="page no-navbar" data-name="contact">
  <div class="page-content">
    <a href="#" class="link back close-button">
      <img src="{{url_for('static',filename='img/close.svg')}}" alt="Close">
    </a>
    <div class="oval"></div>
    <div class="block">
      <div class="contact-container">
        <div class="contact-icon"><i class="f7-icons">envelope_open_fill</i></div>
        <h1>Get in Touch!</h1>
        <div class="list no-hairlines custom-form contact-form">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <input type="text" placeholder="Name">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <input type="email" placeholder="E-mail">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <textarea class="resizable" placeholder="Message"></textarea>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <a class="big-button button button-fill link"><i class="f7-icons">paperplane_fill</i>Send Message</a>
      </div>
    </div>
  </div>
</div>
